[Unit]
Description=Backup your screenshots to the Rocky Server.
After=network.target

[Service]
Type=oneshot
ExecStart=/home/deck/Software/backup_steam_deck_screenshots/sync_screenshots.sh
RemainAfterExit=false

[Install]
WantedBy=default.target
